@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color:#7bdaf3;
    font-family:'Poppins',sans-serif;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.add{
    position:fixed;
    top:1rem;
    right:1rem;
    background-color:#9ec862;
    border:none;
    border-radius: 3px;
    padding:0.5rem 1rem;
    cursor:pointer;
}

.note{
    background-color:white;
    box-shadow:0 0 10px 4px rgba(0,0,0,0.1);
    margin: 30px 30px;
    height:400px;
    width:400px;
}

.note .tool{
    background-color: #9ec862;
    display: flex;
    justify-content:flex-end;
    padding:0.5rem;
    width:100%;
}

.note .tool button{
    background-color:transparent;
    border:none;
    color:white;
    cursor:pointer;
    font-size:inherit;
    margin-right: 0.5rem;
}

.note textarea{
    resize:none;
    outline:none;
    font-family: inherit;
    font-size:1.2rem;
    height:400px;
    padding:1.25rem;
    width:100%;
}

.note .main{
    padding:1.25rem;
}

.hidden{
    display:none;
}